

* {
    box-sizing: border-box;
}
.box {
    color:white;
    font-size: 50px;
    text-align: center;
    padding:15px;
  
}
  
  .box1 { background:#eccc68;}
  .box2 { background:#ff6348;}
  .box3 { background:#ff7f50;}
  .box4 { background:#ff4757;}
  .box5 { background:#f1c40f;}

.container {
    display: flex;
    justify-content: center;
}